.nav-bar {
  background: #00a087;
  margin: : 80px;
  color: #e8fdff;
  font-size: 60px;
  height: 80px;
  left: 0;
  line-height: 75px;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
.logo {
  float: left;
  height: 80px;
  padding: 5px;
}